{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/prefer-stateless-function": "off",
    "no-multiple-empty-lines": [2, {"max": 1}],
    "indent": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-filename-extension": "off",
    "no-unused-vars": "warn",
    "linebreak-style": "off"
  }
}
