.landing-page {
  background-color: #18242c !important;
}

.left-sider {
  width: 100%;
  text-align: right !important;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 850px) {
    max-width: 15vw !important;
  }
  @media only screen and (max-width: 1400px) {
    font-size: 1.4em;
  }
  .sidebar-icon {
    svg {
      font-size: 1.5em;
      @media only screen and (max-width: 1400px) {
        font-size: 1.4em;
      }
    }
  }
  .icon-container {
    text-align: right;
    border-radius: 20px;

    @media only screen and (max-width: 850px) {
      max-width: 10vw;
      margin-right: 0 !important;
    }
  }
  h4 {
    margin-left: 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
  }
  .twitter-logo{
    color: white;
    padding-left: 2% !important;
    width: 10% !important;
    margin-left: 25.5vw !important;
    border-radius: 20px;
    @media only screen and (max-width: 1400px) {
      width: 100% !important;
      padding-left: 2% !important;
      border-radius: 30px !important;
      margin-left: 26vw !important;
    }
    @media only screen and (max-width: 850px) {
      max-width: 10vw;
      margin-left: 3.2vw !important;
    }
  }
}

.ant-menu-light {
  border-style: none !important;
  background-color: #18242c !important;

  @media only screen and (max-width: 850px) {
    width: 15vw !important;
    margin-left: 0 !important;
  }
}

.button-container {
  margin: 5vh 0 35vh 0 !important;
  padding-left: 10%;
  text-align: center;

  @media only screen and (max-height: 1400px) {
    margin-bottom: 45vh;
  }
  @media only screen and (max-width: 1400px) {
    padding-left: 0;
  }
  Button {
    text-align: center;
    border-radius: 20px;
    width: 25%;
    margin-left: 18vw !important;
    font-weight: bold;
    @media only screen and (max-width: 1400px) {
      width: 18% !important;
      padding-left: 5% !important;
      border-radius: 30px !important;
      margin-left: 18vw !important;
    }
    @media only screen and (max-width: 850px) {
      width: 80% !important;
      padding-left: 3vw !important;
      margin-left: 0 !important;
    }
  }
}

.ant-menu-item-selected {
  h4{
    color: white;
  }
  background-color: #18242c !important;
  @media only screen and (max-width: 850px) {
    margin-left: 0 !important;
  }
}

.ant-menu-item-selected::after {
  display: none !important;
}

.menu-item{
  color: white;
  width: 30% !important;
  margin:  2vh 0 1vh 25vw !important;
  border-radius: 22px;
  @media only screen and (max-width: 1450px) {
    width: 18% !important;
    padding: 1.5vw !important;
    border-radius: 30px !important;
    margin-left: 25vw !important;
  }
  @media only screen and (max-width: 850px) {
    width: 100% !important;
    margin-left: 1.8vw !important;
  }
  flex-grow: 1 !important;
}

.logout-button{
  color: white;
}
.ant-popover-inner-content {
  padding: 0 !important;
  .logout-container{
    background-color: #18242c;

    @media only screen and (max-width: 850px) {
      margin-left: 0;
    }
  }
  .info-logout-container {
    .username-avatar {
      padding-top: 5px;
    }
    .username-info {
      h4{
        width: 100%;
        color: white;
      }
      p{
        color: grey
      }
    }
    border-bottom-style: solid;
    border-color: white;
    border-width: thin;
    background-color: #18242c;
  }
}

.avatar-container {
  width: 32% !important;
  margin:  2vh 0 0 24.5vw !important;
  padding: 1vw !important;
  border-radius: 22px;
  @media only screen and (max-width: 1400px) {
    width: 17% !important;
    padding: 0.6vw !important;
    border-radius: 30px !important;
    margin-left: 24vw !important;
  }
  @media only screen and (max-width: 850px) {
    margin: 0 0 0 3.5vw !important;
    min-width: 15vw !important;
  }@media only screen and (max-width: 350px) {
    margin: 0 0 0 1vw !important;
  }
  .user-name {
    display: flex;
    flex-direction: column;
    .username{
      color: grey;
    }
    p{
      max-height: 10px;
      text-align: left;
      color: white;
    }
    margin-bottom: 18px;
    @media only screen and (max-width: 1450px) {
      display: none;
    }
  }
}

.icon-name {
  @media only screen and (max-width: 1450px) {
    display: none;
  }
}

.ant-layout-sider {
  min-width: 35vw !important;
  @media only screen and (max-width: 500px) {
    max-width: 1vw !important;
  }
}

.content-container{
  word-wrap: anywhere;
  overflow: auto;
  @media only screen and (max-width: 850px) {
    font-size: 1em;
  }
  background-color: #18242c !important;
  border-right-style: solid;
  border-left-style: solid;
  border-color: grey;
  border-width: thin;
  text-align: center;
  padding: 0;
  margin: 0;
  @media only screen and (max-width: 1500px) {
    min-width: 60vw;
  }

  @media only screen and (max-width: 850px) {
    margin-left: 0;
    min-width: 82vw !important;
  }
}

.card-empty {
  .ant-card-head-title{
    color: white;
    font-weight: bold;
  }
  .ant-card-head{
    border-style: none;
  }
  margin-top: 10% !important;
  border-left-style: none !important;
  border-right-style: none !important;
  background-color: #18242c !important;
  border-color: grey !important;
  h2 {
    text-align: center;
    color: white;
  }
}

.card-tweets {
  min-height: 100px;
  background-color: #18242c !important;
  border-right-style: none !important;
  border-left-style: none !important;
  border-width: thin !important;
  border-color: grey !important;
  .card-tweet-information {
    color: white;
    &-avatar{
      background-color: #18242c;
      @media only screen and (max-width: 850px) {
        max-width: 10%;
      }
    }
    &-data{
      max-width: 80%;
      @media only screen and (max-width: 850px) {
        max-width: 70%;
      }
      @media only screen and (max-width: 350px) {
        font-size: 0.8em;
      }
      margin-left: 20px;
      text-align: left;
      &-users{
        display: flex;
        flex-direction: row;
        .username {
          color: grey;
        }
      }
    }
    &-icon {
      min-width: 50px;
      text-align: right;
    }
  }
}

.ant-card-body{
  padding: 1.5% !important;
}

.tweet-form-container {
  &-header{
    border-color: grey;
    border-width: thin;
    border-bottom-style: solid;
    &-text {
      margin-bottom: 0;
      color: white;
      font-size: 1.5em;
      padding: 2% 0 2% 3%;
      font-weight: bolder;
      text-align: left;
      @media only screen and (max-width: 850px) {
        font-size: 1em;
      }
    }
  }
}

.tweet-container {
  max-height: 73vh;
}

.content-container::-webkit-scrollbar{
  display: none;
}

.tweet-action-container {
  .ant-menu-item {
    background-color: #001529;
  }
  .ant-menu-item-selected {
    background-color: #001529 !important;
  }
}


.right-sider {
  width: 100%;
  @media only screen and (max-width: 1500px) {
    display: none;
  }
  text-align: left;
  .ant-input-lg{
    margin-left: 2%;
    background-color: #18232b;
    color: white;
  }
  &-search{
    svg{
      color: white;
    }
    border-radius: 30px !important;
    min-width: 15vw;
    margin: 5% 0 0 5%;
    &-input {
      border-style: none !important;
      background-color: #18232b !important;
      color: white;
    }
  }
  &-trends{
    .ant-card-head {
      padding: 2% 0 0 5%;
      border-color: grey;
    }
    .ant-card-head-title{
      font-size: 1.2em;
      color: white;
      font-weight: bolder;
    }
    &-information{
      display: flex;
      flex-direction: column;
      h4{
        color: white;
      }
      h5{
        color: grey;
        margin-bottom: 1%;
      }
    }
    &-more{
      padding-top: 5%;
    }
    svg {
      color: grey;
    }
    .ant-card {
      .right-sider-trends-container{
        padding: 2% 0 2% 1%;
        border-bottom-style: solid;
        border-color: grey;
        border-width: thin;
      }
      background-color: #18232b !important;
      border-radius: 15px !important;
      width: 100%;
    }
    margin: 5% 0 0 5%;
  }
  &-topics{
    .ant-card-head {
      padding: 2% 0 0 5%;
      border-color: grey;
    }
    .ant-card-head-title{
      font-size: 1.2em;
      color: white;
      font-weight: bolder;
    }
    &-information{
      display: flex;
      flex-direction: column;
      h3{
        color: white;
        margin: 0;
      }
      h4{
        color: grey;
      }
    }
    &-button{
      padding-top: 5%;
      Button{
        background-color: #18242c;
        color: #43a9fb;
        border-radius: 20px;
      }
      svg {
        color: grey;
      }
    }
    .ant-card {
      .right-sider-topics-container{
        padding: 2% 0 2% 1%;
        border-bottom-style: solid;
        border-color: grey;
        border-width: thin;
      }
      background-color: #18232b !important;
      border-radius: 15px !important;
      width: 100%;
    }
    margin: 0 0 0 5%;
  }
}

