.landing-page {
  background-color: #18242c !important;
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
}
.left-sider {
  border-right-style: solid;
  border-color: grey;
  border-width: thin;
  position: fixed;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  text-align: right !important;
  margin: 0;
  display: flex;
  flex-direction: column;
  .sidebar-icon {
    svg {
      font-size: 1.5em;
      @media only screen and (max-width: 1400px) {
        font-size: 1.4em;
      }
    }
  }
  .icon-container {
    text-align: right;
    border-radius: 20px;
  }
  h4 {
    margin-left: 10px;
    font-size: 1em;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
  }
  .twitter-logo{
    color: white;
    padding-left: 2% !important;
    width: 10% !important;
    margin-left: 25.5vw !important;
    border-radius: 20px;
    @media only screen and (max-width: 1400px) {
      width: 100% !important;
      padding-left: 2% !important;
      border-radius: 30px !important;
      margin-left: 26vw !important;
    }
  }
}
.ant-menu-light {
  background-color: #18242c !important;
}
.button-container {
  margin: 5vh 0 35vh 0 !important;
  padding-left: 10%;
  text-align: center;

  @media only screen and (max-height: 1400px) {
    margin-bottom: 45vh;
  }

  @media only screen and (max-height: 700px) {
    margin-bottom: 37vh;
  }
  Button {
    text-align: center;
    border-radius: 20px;
    width: 25%;
    margin-left: 18vw !important;
    font-weight: bold;
    @media only screen and (max-width: 1400px) {
      width: 18% !important;
      padding-left: 5% !important;
      border-radius: 30px !important;
      margin-left: 18vw !important;
    }
  }
}

.ant-menu-item-selected {
  h4{
    color: white;
  }
  background-color: #18242c !important;
}

.ant-menu-item-selected::after {
  display: none !important;
}

.menu-item{
  color: white;
  width: 30% !important;
  margin:  2vh 0 1vh 25vw !important;
  border-radius: 22px;
  @media only screen and (max-width: 1450px) {
    width: 18% !important;
    padding: 1.5vw !important;
    border-radius: 30px !important;
    margin-left: 25vw !important;
  }
  flex-grow: 1 !important;
}

.ant-popover-inner-content {
  padding: 0 !important;
  .logout-container{
    padding: 15px;
    background-color: #18242c;
  }
  .info-logout-container {
    .username-info {
      color: white !important;
      padding: 0 0 0 1vw !important;
      margin-bottom: 20%;
    }
    display: flex;
    flex-direction: row;
    background-color: #18242c;
  }
}

.avatar-container {
  width: 32% !important;
  margin:  2vh 0 6.5vh 24.5vw !important;
  padding: 1vw !important;
  border-radius: 22px;
  @media only screen and (max-width: 1400px) {
    width: 17% !important;
    padding: 0.6vw !important;
    border-radius: 30px !important;
    margin-left: 24vw !important;
  }
  .user-name {
    padding-top: 5px;
    h3{
      color: white;
    }
    @media only screen and (max-width: 1450px) {
      display: none;
    }
  }
}
.icon-name {
  @media only screen and (max-width: 1450px) {
    display: none;
  }
}
.ant-layout-sider {
  min-width: 35vw !important;
  @media only screen and (max-width: 500px) {
    max-width: 1vw !important;
  }
}
.card-tweets {
  min-height: 100px ;
  background-color: #18242c !important;
  border-right-style: none !important;
  border-left-style: none !important;
  border-color: grey !important;
  .card-tweet-information {
    color: white;
    &-avatar{
      margin-right: 10px;
      background-color: #18242c;
    }
    &-data{
      text-align: left;
      &-users{
        display: flex;
        flex-direction: row;
        .username {
          color: grey;
        }
      }
    }
  }
}
.ant-card-body{
  padding: 2% !important;
}
.content-container{
  overflow: auto;
  background-color: #18242c !important;
  min-height: 100vh;
  text-align: center;
  padding: 0;
  margin: 0;
  max-width: 55vw;
  min-width: 500px;
  @media only screen and (max-width: 1250px) {
    min-width: 50vw;
    max-width: 1000px;
  }
}
.right-sider {
  width: 100%;
  text-align: left;
  min-height: 100vh;
  margin: 0 auto 0 0;
  position: fixed;
  overflow: auto;
  .icon-container {
    border-radius: 20px;
    text-align: right;
  }
  h4 {
    text-align: left;
    color: white;
  }
  .ant-menu-item {
    border-radius: 20px;
    margin-right: 0;
    text-align: right;
  }
  .twitter-logo{
    width: 15% !important;
  }
}
.tweet-form-container {
  &-header{
    border-color: grey;
    border-width: thin;
    border-bottom-style: solid;
    &-text {
      margin-bottom: 0;
      color: white;
      font-size: 1.5em;
      padding: 2% 0 2% 3%;
      font-weight: bolder;
      text-align: left;
    }
  }
}
.tweet-container {
  max-height: 73vh;
}
.content-container::-webkit-scrollbar{
  display: none;
}

.tweet-action-container {
  .ant-menu-item {
    background-color: #001529;
  }
  .ant-menu-item-selected {
    background-color: #001529 !important;
  }
  p{
    color: white;
  }
}

