.login-container{
  .icon-container{
    text-align: left;
    svg {
      text-align: left;
      font-size: 3em;
      color: white;
    }
  }
  max-width: 400px;
  padding: 1% 2% 2% 2%;
  min-height: 100vh;
  text-align: left;
  margin: auto;
  h1{
    color: white;
    margin: 5% 0 5% 0;
    font-size: 2em;
    font-weight: bold;
    font-family: "Segoe UI Black", serif;
  }
  .signup-field {
    color: white;
    border-style: solid;
    border-width: thin;
    border-color: darkgrey;
    background-color: #001529 !important;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 5px;
    margin: 3% 0 7% 0;
    width: 100%;
    display: block;

    input {
      background-color: #001529 !important;
      color: white;
      font-size: 1em;
      padding: 5px;
    }
  }

  .error-container{
    color: red;
  }

  .button-submit{
    font-weight: bold;
    border-style: solid;
    border-width: thin;
    border-color: dodgerblue;
    background-color: #13bffb;
    margin-top: 3%;
    padding: 9px;
    min-width: 100%;
    font-size: 1.3em;
    border-radius: 25px;
  }

}
