.tweet-form {
  background-color: #18242c;
  padding: 1%;
  border-style: none;
  color: white;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
}.button-container-create {
   text-align: right;
   margin-bottom: 2%;
 }
.button-submit {
  margin-top: 0;
  border-radius: 20px;
}
