.register-modal-container{
  min-width: 500px;
}

.register-modal{
  padding: 0 !important;
}
.ant-modal-body{
  min-width: 400px;
  padding: 0 !important;
}
.ant-picker-clear{
  color: white;
  background-color: #001529 !important;
}

.modal-content{
  overflow: auto;
  padding: 5% 5% 5% 5%;
  background-color: #001529;
  h1{
    text-align: center;
    font-weight: bold;
    color: white;
  }
  .signup-field{
    color: white;
    border-style: solid;
    border-width: thin;
    border-color: darkgrey;
    background-color: #001529 !important;
    font-size: 1.5em;
    padding: 5px;
    border-radius: 5px;
    margin: 5% 0 8% 0;
    width: 100%;
    display: block;
    input{
      background-color: #001529 !important;
      color: white;
      font-size: 1em;
      padding: 5px;
    }
  }
}
.error-container{
  color: red;
}

.button-submit{
  color: white;
  font-weight: bold;
  border-style: solid;
  border-width: thin;
  border-color: dodgerblue;
  background-color: #13bffb;
  padding: 5px;
  width: 30%;
  font-size: 1.1em;
  border-radius: 5px;
}
