.update-tweet-container {
  background-color: #18242c;
  color: white;
  padding: 2%;
  min-width: 400px;
  .tweet-form {
    background-color: #18242c;
    padding: 1%;
    border-style: none;
    color: white;
    min-width: 350px;
    min-height: 100px;
    max-height: 100px;
  }
  .error-container{
    text-align: center;
  }
  .button-container-update {
    text-align: right;
  }
  .button-submit {
    margin-top: 0;
    border-radius: 20px;
  }
}
